/Java/TD01/nbproject/private/
/Java/TD01/build/
/Java/TD01/dist/
/Java/TD02/nbproject/private/
/Java/TD02/build/
/Java/TD02/dist/
/Java/TD02b/nbproject/private/
/Java/TD02b/build/
/Java/TD02b/dist/
/Java/TD03/nbproject/private/
/Java/TD03/build/
/Java/TD03/dist/
/Java/TD04/nbproject/private/
/Java/TD04/build/
/Java/TD04/dist/
/Java/TD05/nbproject/private/
/Java/TD05/build/
/Java/TD05/dist/
/Java/TD06/nbproject/private/
/Java/TD06/build/
/Java/TD06/dist/